<h1>Профиль</h1>

<%
let avatar;
if (user.customAvatar) {
    avatar = user.customAvatar;
} else if (user.avatar) {
    avatar = user.avatar;
} else {
    avatar = "/vs.jpg";
}
%>

<img src="<%= avatar %>" width="150">

<p>Ник: <%= user.username %></p>
<p>UID: <%= user.uid %></p>

<form action="/profile/update" method="POST" enctype="multipart/form-data">
    <input name="username" placeholder="Новый ник">
    <input type="file" name="avatar">
    <button>Обновить</button>
</form>

<a href="/download">Скачать лаунчер</a>
