<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>VSLauncher</h1>

<% if (!user) { %>
  <a href="/auth/discord" class="btn">Войти через Discord</a>
<% } else { %>
  <a href="/dashboard" class="btn">В кабинет</a>
<% } %>

</body>
</html>
