<!DOCTYPE html>
<html>
<head>
<title>VSLauncher</title>
<style>
body{
    background:#0f172a;
    color:white;
    font-family:Arial;
    text-align:center;
    padding-top:150px;
}
a{
    background:#3b82f6;
    padding:15px 30px;
    border-radius:10px;
    color:white;
    text-decoration:none;
    font-size:20px;
}
</style>
</head>
<body>

<h1>VSLauncher</h1>

<% if(!user){ %>
<a href="/auth/discord">Войти через Discord</a>
<% } else { %>
<a href="/dashboard">Перейти в кабинет</a>
<% } %>

</body>
</html>
