body {
  background: #0a0f1f;
  color: white;
  font-family: Arial;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  background: #00f0ff;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

input {
  padding: 8px;
  margin: 5px;
}
